
@model PizzaStoreMVC.ViewModels.PizzaOrder

@using (Html.BeginForm())
{
@Html.LabelFor(m => m.Option.sauces)
@Html.DropDownListFor(m => m.Option.sauces, Model.Option.sauces)
@Html.ValidationMessageFor(m => m.Option.sauces)

@Html.LabelFor(m => m.Option.crust)
@Html.DropDownListFor(m => m.Option.crust, Model.Option.crust)
@Html.ValidationMessageFor(m => m.Option.crust)

@Html.LabelFor(m => m.Option.sizes)
@Html.DropDownListFor(m => m.Option.sizes, Model.Option.sizes)
@Html.ValidationMessageFor(m => m.Option.sizes)

<button type="submit">Submit</button>
}
@Html.Partial("~/Views/Shared/CartView.cshtml", Model.details)
