@model IEnumerable<Registration.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseDept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseProfessor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentEnrollment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseCredits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseDept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseProfessor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentEnrollment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseCredits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.courseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.courseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.courseID })
        </td>
    </tr>
}

</table>
